.git
.env*
.private
storage
node_modules
**/node_modules
frontend/dist
frontend/storybook-static
frontend/test-results
frontend/playwright-report
frontend/coverage
test-results
**/__pycache__
**/*.pyc

**/._*
