.DS_Store
node_modules/
*.tmp
.env
storage/
.private/
__pycache__/
*.pyc

.venv/
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

.env.database
frontend/dist/
frontend/storybook-static/
frontend/test-results/
frontend/playwright-report/
frontend/coverage/
test-results/
